


*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
label {
  font-size: 0.875rem;
}

html,
body {
  height: 100%;
  width: 100%;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 100%;
}

.header-container {
   background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 400px;
    padding: 32px 48px;
    border-radius: 8px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.header-container h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.header-container > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header-container div {
  display: flex;
  flex-direction: column;
}
.header-container input {
 width: 100%;
 font-size: 20px;
 border: none;
 outline: none;
 border-bottom: 1px solid #000000;
 padding: 10px;
}

.header-container input::placeholder {
  font-size: 12px;
  font-style: italic;
  color: #000000;
  opacity: 0.4;
}

.header-container button {
  background: #2e68cc;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.header-container button:hover {
  background: #4b81de;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.header-container span {
  font-size: 15px;
  text-align: center;
  color: #000000;
  opacity: 0.7;
}
.header-container span a {
  color: #0751d2;
  text-decoration: none;
}
.header-container span a:hover {
  color: #2a5aac;
  text-decoration: none;
} 

